@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

* {
  padding: 0;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Hubballi", cursive;
}

html {
  height: 100%;
}
