@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

:root {
  --white: #fff;
  --blue: #7899d4;
  --blue-grey: #7272ab;
  --purple: #700548;
  --black: #080705;
  --burgundy: #362023;
  --light-burgundy: #36202380;
  --light-blue: #7899d480;
}
* {
  padding: 0;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Hubballi", cursive;
}

html {
  height: 100%;
}
